<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      There is a new review on your dish, <%= @dish.name %>!
    </p>
    <p>For the love of breakfast!</p>
  </body>
</html>
