<div>
  <%= render "search" %>
</div>

<% if @dishes.empty? %>
  <h4>There are no dishes containing the term <%= params[:search] %>.</h4>
<% end %>

<div id="dishes"></div>

<div>
  <%= link_to "Add a New Dish", new_dish_path %>
</div>
