<div>
  <ul style="list-style: none;">
    <% @dishes.each do |dish| %>
      <li>
        <%= link_to dish.name, dish_path(dish) %>
      </li>
    <% end %>
  </ul>
</div>

  <div>
    <%= link_to "Add a New Dish", new_dish_path %>
  </div>
</div>
