<div>
  <%= render "search" %>
</div>

<% if @dishes.empty? %>
  <h4>There are no dishes containing the term <%= params[:search] %>.</h4>
<% end %>

<ul style="list-style: none;">
  <% @dishes.each do |dish| %>
    <li>
      <%= link_to dish.name, dish_path(dish) %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "Add a New Dish", new_dish_path %>
</div>
