<div>
  <div>
    <%= link_to "Add a New Dish", new_dish_path, class: "hollow button" %>
    <br><br>
  </div>
  <% if @dishes.nil? %>
    <div id="app"></div>
  <% else %>
    <div>
      <% @dishes.each do |dish| %>
        <h5><%= link_to dish.name, dish_path(dish) %></h5>
      <% end %>
    </div>
  <% end %>
</div>
<br>
