body#other {
  background-color: #A5B5AB;
  text-align: center;
}

body#home {
  background: url('http://imgur.com/1Q756V8.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.enter {
  color: #0000e6;
}

.hollow.button {
  padding: 10px;
  border-radius: 20px;
  color: #615566;
  border-color: #615566;
  margin: 0;
}

.hollow.button:focus {
  outline: none;
}

.flash {
  color: #615566;
}

.top-bar {
  background-color: #615566;
  vertical-align: middle;
  padding-top: 20px;
}

.title h1 {
  margin-top: 30px;
  text-align: right;
  color: white;
  font-weight: bolder;
  font-family: 'Londrina Shadow', cursive;
  font-size: 85px;
  text-align: right;
}

a {
  margin-top: 30px;
  color: white;
  text-align: right;
}

a#home {
  color: #ccddff;
}

h1#enter {
  color: #0000e6;
  font-size: 40px;
  padding-left: 0;
}

input {
  background-color: #A5B5AB;
  border: 0px;
  display: inline-block;
}

input:hover {
  color: #615566;
}

input#search {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 25px;
}

button#search {
  color: #A5B5AB;
}

strong {
  font-size: 22px;
  vertical-align: top;
}

.callout {
  background-color: #C1C9C8;
  font-weight: bold;
  font-size: 18px;
  overflow: auto;
  width: 800px;
  margin: auto;
  vertical-align: middle;
}

.callout#review-page {
  background-color: #C1C9C8;
  font-weight: bold;
  font-size: 18px;
  overflow: auto;
  width: 800px;
  margin: auto;
}

.callout#individual-review {
  background-color: #C1C9C8;
  font-weight: bold;
  font-size: 18px;
  overflow: auto;
  width: 700px;
  margin: auto;
}

.reviews-title {
  font-size: 30px;
  font-weight: bold;
}

.search-bar {
    position: relative;
    left: 120px;
    top: -55px;
    width: 300px;
    padding: 10px;
    height: 15px;
}

.dish-img {
  width: 300px;
  height: auto;
}

.dish-name {
  font-size: 25px;
}
