body#other {
  background-color: #A5B5AB;
  text-align: center;
}

body#home {
  background: url('http://imgur.com/keA9ohZ.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-bar {
  background-color: #615566;
  vertical-align: middle;
  padding-top: 20px;
}

.title h1 {
  margin-top: 30px;
  text-align: right;
  color: white;
  font-weight: bolder;
}

a {
  margin-top: 30px;
  color: black;
  text-align: right;
}

input {
  background-color: #A5B5AB;
  border: 0px;
  display: inline-block;
}

input:hover {
  color: #615566;
}

input#search {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 25px;
}

strong {
  font-size: 20px;
  text-align: top;
}
