<nav class="top-bar" data-topbar role="navigation">

 <section class="top-bar-section">
   <ul class="right">
     <%- if current_user -%>
       <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
     <%- else -%>
       <%= link_to 'Sign Up', new_user_registration_path %>
       <%= link_to 'Sign In', new_user_session_path %>
     <%- end -%>
   </ul>

   <% if current_user %>
     <ul class="left">
       <%= link_to current_user.email, user_path(current_user) %>
     </ul>
   <% end %>
 </section>
</nav>
