<% if current_user && current_user.admin? %>
  <div>
    <% @dishes.each do |dish| %>
      <h5>
        <%= link_to dish.name, admin_dish_path(dish) %>
        <%= button_to 'Delete this Dish', admin_dish_path(dish), method: :delete, class: "hollow button" %>
      </h5><br>
      <br>
    <% end %>
    <%= button_to "Users", admin_users_path, method: :get, class: "hollow button" %>
  </div>
<% end %>
